<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">     
    <title></title>
</head>
<body class="bodyclass">
        <header class="site-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
            <a class="navbar-brand" href="#">Giphy app</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                </li>
              <!-- Navbar Right Side   <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              -->
              </ul>
              
            </div>
          </nav>
        </header>
</div>
<div class="search">
<form action="{% url 'search' %}" method="POST">
    {%csrf_token%}
<input type="text" name="imagetosearch" placeholder="Search..">
<button class="btn btn-success" type="submit">search</button>
</form>
</div>
<div class="container">
    <h4 class="hidden">showing results for {{searchstring}}</h4>
</div>
          
    <div class="row">
        
        {% for image in imagedata%}
       <div class="col-lg-3">
           <form method="POST">
           <img src="{{image}}" height="250px" width="100%">
        </form>
       </div>
       {%endfor%}
        
    </div>
    <div class="search">
    <form action="{% url 'next' %}" method="POST">
        {% csrf_token %}
        <div class="hidden">
            <input type="text" class="hidden" name="searchstringfrompage" value="{{searchstring}}">
            <input type="text" class="hidden" name="offsetfrompage" value="{{offset}}">
        </div>
    <button class="btn btn-warning" type="submit">Next</button>
    </form>
    </div>
</div>

    <style>
        .search
        {
            text-align: center;
            margin: 20px;
        }
        .hidden
        {
            display: none;
        }
        .bg-light {
            background-color: #ffc107!important;
        }
    </style>
            